 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }


 .header_container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px 0 20px 0;
 }

 .blog-heading p,
 h1 {
     margin-bottom: 15px;
     text-align: center;

 }



 .post_section {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     gap: 30px;
     align-items: flex-start;
 }


 .main_card {
     border: 1px solid grey;
     border-radius: 12px;
     overflow: hidden;
     margin-top: 20px;

 }

 .featured-image-box {
     width: 100%;
     height: 420px;
     background-color: #fff;
 }

 .featured-image-box img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .featured_content {
     padding: 25px;
 }

 .featured_content h2 {
     margin-bottom: 10px;
 }

 .featured_content p {
     margin-bottom: 15px;
     line-height: 1.6;
 }

 .featured_content a {
     color: skyblue;
     font-weight: bold;
     text-decoration: none;
 }

 .main_card_footer {
     display: flex;
     gap: 30px;
     margin-top: 20px;
     padding-top: 20px;
     border-top: 1px solid #eee;
     color: gray;
     font-size: 1rem;
 }


 .side_post_card_section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;

 }

 .post_card {
     border: 1px solid black;
     border-radius: 1em;
     display: flex;
     height: 200px;
     width: 400px;
     margin: 20px 0px;
 }




 .post_card_info {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 20px;
 }


 .post_card_sub_info {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 10px;
 }

 .post_card_img {
     position: relative;
     height: 100%;
     width: 400px;
     overflow: hidden;

     border-radius: 15px 0 0 15px;

 }

 .post_card_img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }


 a {
     text-decoration: none;
 }