* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav_links a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}


.main_body {
    display: flex;
    justify-content: center;
}

.form_card {
    width: 600px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}


.card_header {
    background-color: gray;
    color: white;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}


.form_content {
    padding: 25px;
}


.input_group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}




input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}


select {
    width: 100%;
    padding: 10px;
    background-color: #1ABC9C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}


.radio_options {
    display: flex;
    gap: 50px;
    margin-top: 5px;
}

.radio_item {
    font-weight: normal;
}


.card_footer {
    background-color: white;
    padding: 15px 25px;
    text-align: right;
    border-top: 1px solid white;
}

.submit_btn {
    background-color: #1ABC9C;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit_btn:hover {
    opacity: 0.9;
}